.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px;
}
.main {
  display: flex;
  gap: 40px;
}
.title {
}
.date {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-transform: lowercase;
  color: #161a14;
  margin: 0;
  margin-bottom: 20px;
}
.titleContainer {
  width: 712px;
  height: 524px;
}
.title {
  font-weight: 400;
  font-size: 64px;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 50px;
}
.description {
  max-width: 410px;
  margin: 0;
  margin-bottom: 100px;
}
.imageBackground {
  position: relative;
  overflow: hidden;
}
.imageBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
}

.imageBackground:hover div {
  transform: scale(1.2);
}

@media (max-width: 1000px) {
  .title {
    font-size: 42px;
    width: 387px;
    height: 100px;
  }
  .titleContainer {
    max-width: 386px;
  }
  .imageBackground,
  .imageBackground::before {
    width: 454px;
    height: 545px;
  }
  .description,
  .date {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .imageBackground,
  .imageBackground::before {
    width: 369px;
    height: 443px;
  }
  .titleContainer {
    max-width: 249px;
    height: 356px;
  }
  .title {
    font-size: 26px;
    width: 249px;
    height: 62px;
    margin-bottom: 40px;
  }
  .description,
  .date {
    font-size: 12px;
  }
  .description {
    margin-bottom: 70px;
  }
}
