.idea/
__pycache__/
.env
media/
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/front/node_modules
/front/.pnp
/front/.pnp.js
/front/coverage
/front/build
/front/.DS_Store
/front/.env.local
/front/.env.development.local
/front/.env.test.local
/front/.env.production.local
/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*
Python-3.10.0rc2.tgz
Python-3.10.0rc2/
static/
