.title {
  font-weight: 400;
  font-size: 120px;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #000000;
  max-width: 1000px;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px;
}

@media (max-width: 1000px) {
  .title {
    font-size: 98px;
  }
  .wrapper {
    width: 100%;
    padding: 0 60px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 78px;
  }
  .wrapper {
    width: 100%;
    padding: 0 60px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 78px;
  }
  .wrapper {
    width: 100%;
    padding: 0 60px;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 49px;
  }
  .wrapper {
    width: 100%;
    padding: 0 40px;
  }
}
@media (max-width: 360px) {
  .title {
    font-size: 36px;
  }
  .wrapper {
    width: 100%;
    padding: 0 30px;
  }
}
