.wrapper {
  width: 1320px;
  margin: 0 auto;
}
.title {
  font-weight: 400;
  font-size: 120px;
  line-height: 110%;
  /* or 132px */

  letter-spacing: -0.04em;
  text-transform: uppercase;

  /* black */

  color: #000000;
  max-width: 905px;
}
