.wrapper {
  max-width: 1320px;
  /* width: 98%; */
  width: 100%;

  margin: 0 auto;
  margin-top: 80px;
}
.title {
  font-weight: 400;
  font-size: 120px;
  line-height: 110%;
  /* or 132px */

  letter-spacing: -0.04em;
  text-transform: uppercase;

  /* black */

  color: #000000;
  max-width: 905px;
  margin-bottom: 90px;
}
.calendar {
  width: 100px;
  height: 50px;
}
.disable {
  opacity: 0.6;
  max-width: 37px;
}
.active {
  opacity: 1;
  max-width: 37px;
}
.calendarMonth {
  max-width: 37px;
  position: relative;
  opacity: 1;
}
.calendarMonthLast {
  margin-left: 100px;
}
.swiper-slide {
  max-width: 37px;
}
.swiper {
  overflow: hidden;
}
@media (max-width: 1440px) {
  .wrapper {
    padding: 0 60px;
    width: 100%;
    max-width: none;
  }
}
@media (max-width: 1000px) {
  .wrapper {
    padding: 0 60px;
  }
}
@media (max-width: 768px) {
  .title {
    max-width: 648px;
    height: 216px;
    font-size: 98px;
    margin-bottom: 80px;
  }
  .wrapper {
    margin-top: 70px;
  }
}
@media (max-width: 700px) {
  .title {
    width: 100%;
    height: 144px;
    font-size: 60px;
  }
}
@media (max-width: 480px) {
  .wrapper {
    padding: 0 40px;
  }
}
@media (max-width: 400px) {
  .title {
    font-weight: 400;
    font-size: 46px;
    line-height: 120%;
    margin-bottom: 70px;
  }
}
@media (max-width: 360px) {
  .wrapper {
    padding: 0 30px;
    margin-top: 60px;
  }
}
