.wrapper {
  display: none;
}
.open {
  display: grid;
  width: 100%;
  position: relative;
  height: 68px;
  background-color: black;
  opacity: 1;
  bottom: -5px;
}
.btn {
  background-color: transparent;
  color: rgba(246, 246, 246, 0.7);
  border: 0;
  outline: 0;
  text-align: left;
  padding: 0 12px;
  cursor: pointer;
}
.btn:hover {
  color: rgb(246, 246, 246);
}
