body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
}
.postlist {
  margin-top: 50px;
  display: grid;
  row-gap: 48px;
  column-gap: 30px;
  justify-items: stretch;
  align-items: stretch;
  grid-auto-columns: minmax(0px, 420px);
  grid-auto-rows: minmax(0px, 420px);
  width: 100%;
}
.swiper-button-prev {
  width: 20px;
  height: 20px;
  background-color: blue;
}
.swiper-button-next {
  width: 20px;
  height: 20px;
  background-color: blue;
}
.swiper-button-disabled {
  opacity: 0;
}
.swiper {
  min-height: 105px;
}
@media (max-width: 1440px) {
  .postlist {
    grid-template-columns: repeat(3, 31.61%);
  }
}
@media (max-width: 1000px) {
  .postlist {
    column-gap: 18px;
    row-gap: 40px;
    grid-template-columns: repeat(3, 31.81%);
    grid-auto-rows: minmax(auto, 314px);
  }
  .imageBackground {
    min-height: 232px;
  }
}

@media (max-width: 768px) {
  .postlist {
    row-gap: 30px;
    grid-auto-rows: minmax(auto, 240px);
  }
}
@media (max-width: 480px) {
  .postlist {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 360px) {
}
