body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
}
.postlist {
  display: grid;
  grid-template-columns: repeat(3, 420px);
  column-gap: 30px;
  row-gap: 48px;
  justify-items: stretch;
  align-items: stretch;
  grid-auto-columns: minmax(420px, 420px);
  grid-auto-rows: minmax(420px, 420px);
  width: 100%;
}
